<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/header :: #header"></div>
<body>
<div th:replace="fragments/topbar :: #topbar"></div>
<div id="layoutSidenav">
    <div th:replace="fragments/sidebar :: #layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main class="container-fluid px-4">
            <h2 class="mt-4">Danh sách Sách</h2>
            <a class="btn btn-success my-3" th:href="@{/books/new}">➕ Tạo mới</a>
            <div class="card mb-4">
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Mã sách</th>
                            <th>Tiêu đề</th>
                            <th>Tác giả</th>
                            <th>Mô tả</th>
                            <th>Thể loại</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${bookPage}">
                            <td th:text="${book.id}"></td>
                            <td th:text="${book.title}"></td>
                            <td th:text="${book.author}"></td>
                            <td th:text="${#strings.length(book.description) > 70} ? ${book.description.substring(0, 70)} + '...' : ${book.description}"></td>
                            <td th:text="${book.categoryName}"></td>
                            <td>
                                <a class="btn btn-sm btn-info" th:href="@{/books/view/{id}(id=${book.id})}">👁 </a>
                                <a class="btn btn-sm btn-warning" th:href="@{/books/edit/{id}(id=${book.id})}">✏️ </a>
                                <a class="btn btn-sm btn-danger" th:href="@{/books/delete/{id}(id=${book.id})}"
                                   onclick="return confirm('Confirm delete?')">❌ </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination justify-content-center">

                            <li class="page-item" th:classappend="${bookPage.first} ? 'disabled'">
                                <a class="page-link" th:href="@{/books/all(page=${currentPage - 1}, size=${pageSize})}"><</a>
                            </li>

                            <li class="page-item" th:each="i : ${#numbers.sequence(0, bookPage.totalPages - 1)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/books/all(page=${i}, size=${pageSize})}" th:text="${i + 1}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${bookPage.last} ? 'disabled'">
                                <a class="page-link" th:href="@{/books/all(page=${currentPage + 1}, size=${pageSize})}">></a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footer :: #footer"></div>
    </div>
</div>
</body>
</html>
